<article class="example">
  <small>Font Weights example</small>
  <span>light</span>
  <p>All those moments will be lost in time... like tears in rain.</p>
  <span>regular</span>
  <p>All those moments will be lost in time... like tears in rain.</p>
  <span>medium</span>
  <p>All those moments will be lost in time... like tears in rain.</p>
  <span>bold</span>
  <p>All those moments will be lost in time... like tears in rain.</p>
</article>

<style>
  p:nth-of-type(1) {
    font-size: var(--size-l);
    font-weight: 100;
  }

  p:nth-of-type(2) {
    font-size: var(--size-l);
    font-weight: 400;
  }

  p:nth-of-type(3) {
    font-size: var(--size-l);
    font-weight: 600;
  }

  p:nth-of-type(4) {
    font-size: var(--size-l);
    font-weight: 800;
  }
</style>
