<article class="example">
  <span>leading-s</span>
  <p>I've seen things you people wouldn't believe. Attack ships on fire off the shoulder of Orion. I watched C-beams glitter in the dark near the Tannhauser gate. All those moments will be lost in time... like tears in rain... Time to die.</p>
  <span>leading-m</span>
  <p>I've seen things you people wouldn't believe. Attack ships on fire off the shoulder of Orion. I watched C-beams glitter in the dark near the Tannhauser gate. All those moments will be lost in time... like tears in rain... Time to die.</p>
  <span>leading-l</span>
  <p>I've seen things you people wouldn't believe. Attack ships on fire off the shoulder of Orion. I watched C-beams glitter in the dark near the Tannhauser gate. All those moments will be lost in time... like tears in rain... Time to die.</p>
</article>

<style>
  p:nth-of-type(1) {
    font-size: var(--size-l);
    font-weight: 400;
    line-height: var(--leading-s);
  }

  p:nth-of-type(2) {
    font-size: var(--size-l);
    font-weight: 400;
    line-height: var(--leading-m);
  }

  p:nth-of-type(3) {
    font-size: var(--size-l);
    font-weight: 400;
    line-height: var(--leading-l);
  }
</style>
