<article class="example">
  <small>Type Scale Example</small>
  <span>size-5xl</span>
  <h1>All those moments will be lost in time... like tears in rain.</h1>
  <span>size-4xl</span>
  <h2>All those moments will be lost in time... like tears in rain.</h2>
  <span>size-3xl</span>
  <h3>All those moments will be lost in time... like tears in rain.</h3>
  <span>size-2xl</span>
  <h4>All those moments will be lost in time... like tears in rain.</h4>
  <span>size-xl</span>
  <h5>All those moments will be lost in time... like tears in rain.</h5>
  <span>size-l</span>
  <h6>All those moments will be lost in time... like tears in rain.</h6>
  <span>size-m</span>
  <p>All those moments will be lost in time... like tears in rain.</p>
</article>

<style>
  h1 {
    font-size: var(--size-5xl);
  }

  h2 {
    font-size: var(--size-4xl);
  }

  h3 {
    font-size: var(--size-3xl);
  }

  h4 {
    font-size: var(--size-2xl);
  }

  h5 {
    font-size: var(--size-xl);
  }

  h6 {
    font-size: var(--size-l);
  }

  p {
    font-size: var(--size-m);
  }
</style>
