:root {
  /* Thickness */
  --border-s: 1px solid var(--color-quaternary);
  --border-m: 2px solid var(--color-quaternary);
  --border-l: 3px solid var(--color-quaternary);

  /* Border radius */
  --radius-s: 0.2rem;
  --radius-m: 0.4rem;
  --radius-l: 0.6rem;
  --radius-xl: 0.8rem;
  --radius-f: 100%;
}
