table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  border: var(--border-s);
}

thead {
  background: var(--color-primary);
  border-bottom: var(--border-s);
}

tr {
  border-bottom: var(--border-s);
}

td {
  border: var(--border-s);
}

th {
  font-family: monospace;
  text-transform: lowercase;
  border: var(--border-s);
}

th,
td {
  padding: var(--space-s) var(--space-m);
}

.example {
  background: var(--color-tertairy);
  background-image: radial-gradient(#efefef 0.8px, #fff 0.8px);
  background-size: 12px 12px;
  border-radius: var(--radius-s);
  border: var(--border-s);
  padding: var(--space-m);
  position: relative;
  margin-top: 3em !important;
}

.example span {
  background: var(--color-primary);
  color: var(--color-secondary);
  border: var(--border-s);
  font-family: monospace;
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--radius-s);
  display: inline-block;
}

.example > * + * {
  margin-block-start: var(--space-s);
}

.stack > * + * {
  margin-block-start: var(--space-m);
}

.stack > h2 {
  margin-block-start: var(--space-2xl);
}

.stack > h2:not(:first-child) {
  border-top: var(--border-s);
  padding-top: var(--space-l);
}

section p a {
  text-decoration: underline;
}

section img {
  border-radius: var(--radius-m);
  border: var(--border-s);
}

.example small {
  background: var(--color-tertairy);
  color: var(--color-secondary);
  border: var(--border-s);
  position: absolute;
  top: 0;
  right: 0;
  font-family: monospace;
  font-size: var(--size-xs);
  padding: var(--space-xs) var(--space-s);
  display: flex;
  align-items: center;
}

pre {
  padding: var(--space-l);
  border-radius: var(--radius-m);
  border: var(--border-s);
  position: relative;
  background: var(--color-tertairy);
  background-image: radial-gradient(#efefef 0.8px, #fff 0.8px);
  background-size: 12px 12px;
}

[data-language="css"]::before {
  content: ".css";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border: var(--border-s);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--radius-s);
  background: var(--color-tertairy);
}

[data-language="js"]::before {
  content: ".js";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border: var(--border-s);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--radius-s);
  background: var(--color-tertairy);
}

p > code {
  border: var(--border-s);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--radius-s);
}

.footnotes {
  grid-column: 12 -1;
}
