---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <nav>
      <ul>
        <li>Introduction</li>
        <li>Foundations</li>
        <li>Tokens</li>
        <ul>
          <li>Colors</li>
          <li>Typography</li>
          <li>Motion</li>
          <li>Borders</li>
          <li>Depth</li>
          <li>Symbols</li>
          <li>Layouts</li>
          <li>Sound</li>
        </ul>
        <li>Materials</li>
        <li>Textiles</li>
        <li>Components</li>
        <ul>
          <li>Buttons</li>
          <li>Label</li>
          <li>Links</li>
          <li>Card</li>
          <li>Image</li>
          <li>Grid</li>
        </ul>
        <li>Templates</li>
        <li>Resources</li>
        <ul>
          <li>Logos</li>
          <li>Photography</li>
          <li>Biography</li>
        </ul>
      </ul>
    </nav>
	</body>
</html>

<style is:global>
  body {
    background: #FBFAFD;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  nav {
    background: white;
    margin: 0;
    padding: 2em;
    width: 20em;
    height: 95vh;
    border-right: 1px solid #DCDCDE;
  }

  nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav > ul {
    margin: 0;
    padding: 0;
  }
</style>
