---
import Nav from '../components/nav.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <Nav />
    <main>
      <h1>
        vriOS is the systematic design strategy of Danny de Vries.
      </h1>
      <h2>Designed to collect philosophies, best practices and opinionated ways of building digital and physical products.</h2>
      <section>
        <article>
          <h3>Principles</h3>
        </article>
        <article>
          <h3>Tokens</h3>
        </article>
        <article>
          <h3>Patterns</h3>
        </article>
        <article>
          <h3>Materials</h3>
        </article>
        <article>
          <h3>Textiles</h3>
        </article>
      </section>
    </main>
	</body>
</html>

<style is:global>
  body {
    background: #FBFAFD;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
  }
</style>
