---
// import Card from '../components/card.astro';
// import Badge from '../components/badge.astro';
// import Button from '../components/button.astro';
// import Link from '../components/link.astro';
// import Icon from '../components/icon.astro';
import Card from '../components/card.astro';


/* Imported icons */
import ArrowUpRight from '../components/icons/ph:arrow-up-right.svg?raw';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/styles/global.css">
		<title>Astro</title>
	</head>
	<body>
    <!-- <Badge label="Foundations"/> -->
    <!-- <Button link="Get started" /> -->
    <!-- <Link link="#" text="Learn more" /> -->
    <!-- <Icon link="#" icon={ArrowUpRight} /> -->
    <Card image="https://placehold.co/600x600" title="Components" description="Building blocks for interface applications" icon={ArrowUpRight}/>
	</body>
</html>

<style is:global>
  body {
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    font-family: "Inter", system-ui;
  }
</style>
