---
import DotsNine from '../components/icons/ph:dots-nine.svg?raw';

// Extract the current path from the Astro object
const currentPath = Astro.url.pathname;

// Split the path into parts, remove empty entries
const pathSegments = currentPath.split('/').filter(segment => segment);

// Create breadcrumb data
const breadcrumbData = pathSegments.map((segment, index) => {
  const path = '/' + pathSegments.slice(0, index + 1).join('/');
  const name = segment.charAt(0).toUpperCase() + segment.slice(1); // Capitalize first letter
  return { path, name };
});
---



<nav>
  <button set:html={ DotsNine }></button>
    <ol class="breadcrumb">
    <li><a href="/">Overview</a></li>
    {breadcrumbData.map((crumb, index) => (
      <li>
        {index < breadcrumbData.length - 1 ? (
          <a href={crumb.path}>{crumb.name}</a>
        ) : (
          <span>←</span>
          <span>{crumb.name}</span>
        )}
      </li>
    ))}
  </ol>
  <input type="search">
  <button set:html={ DotsNine }></button>
  <button set:html={ DotsNine }></button>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
  }
  button {
    background: var(--color-secondary);
    border-radius: var(--radius-s);
    color: var(--color-primary);
    padding: var(--space-xs);
    /* margin-right: var(--space-l); */
  }

  ol {
    list-style-type: none;
    display: flex;
    padding: 0;
    background: var(--color-secondary);
    border-radius: var(--radius-s);
    color: var(--color-primary);
    padding: var(--space-xs);
    margin-right: var(--space-l);
  }

  ol li:first-of-type {
    margin-right: var(--space-xs);
  }

  input {
    flex-grow: 1;
  }
</style>
