---
export interface Props {
  title: string;
  description: string;
  label: string;
}

const { title, description, label } = Astro.props;
---

<header>
  <span>{label}</span>
  <h1>{title}</h1>
  <p>{description}</p>
</header>

<style>
  header {
    border-bottom: var(--border-s);
    padding: var(--space-l);
  }

  span {
    background: var(--color-quaternary);
    padding: var(--space-xs) var(--space-s);
    border: var(--border-m);
    border-radius: var(--radius-m);
    font-weight: 500;
    font-size: var(--size-s);
  }
</style>
