<nav>
  <ul>
    <li>Introduction</li>
    <li>Foundations</li>
    <li>Tokens</li>
    <li>Materials</li>
    <li>Textiles</li>
    <li>Components</li>
    <li>Templates</li>
    <li>Resources</li>
  </ul>
</nav>

<style>
    nav {
    background: white;
    margin: 0;
    padding: 2em;
    width: 20em;
    height: 95vh;
    border-right: 1px solid #DCDCDE;
  }

  nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav > ul {
    margin: 0;
    padding: 0;
  }
</style>
