---
const { headings } = Astro.props;
---

<nav>
  <ul>
    <li>Outline</li>
    {headings.map((heading) => (
      <li>
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="m221.66 181.66l-48 48a8 8 0 0 1-11.32-11.32L196.69 184H72a8 8 0 0 1-8-8V32a8 8 0 0 1 16 0v136h116.69l-34.35-34.34a8 8 0 0 1 11.32-11.32l48 48a8 8 0 0 1 0 11.32"/></svg>
        <a href={`#${heading.slug}`}>
          {heading.text}
        </a>
      </li>
    ))}
  </ul>
</nav>

<style>
    nav {
    margin: 0;
    grid-column: 14 / -1;
    font-family: monospace;
  }

  nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-width: min-content;
    background: var(--color-primary);
    border: 1px solid var(--color-secondary);
    margin-top: var(--space-m);
    border-radius: var(--radius-s);
    padding: var(--space-xs) ;
  }

  nav ul li svg {
    margin-right: var(--space-s);
  }

  nav ul li:first-child {
    font-size: var(--size-m);
    background: var(--color-secondary);
    color: var(--color-primary);
  }

  nav ul li:not(:first-child) {
    margin-left: var(--space-s);
  }

  nav > ul {
    margin: 0;
    padding: 0;
  }
</style>
