<nav>
  <ul>
    <li>Introduction</li>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/architecture">Architecture</a></li>
      <li><a href="/consumables">Consumables</a></li>
    </ul>
    <li>Principles</li>
    <ul>
      <li><a href="#">Tech stack</a></li>
      <li><a href="/architecture">Product design</a></li>
      <li><a href="/architecture">Visual design</a></li>
      <li><a href="/architecture">Naming things</a></li>
    </ul>
    <li>Foundations</li>
    <ul>
      <li><a href="/colors">Colors</a></li>
      <li><a href="/borders">Borders</a></li>
      <li><a href="/grid">Grids</a></li>
      <li><a href="/typography">Typography</a></li>
      <li><a href="/iconography">Iconography</a></li>
      <li><a href="/elevation">Elevation</a></li>
      <li><a href="/motion">Motion</a></li>
      <li><a href="/sizes">Sizes</a></li>
      <li><a href="/spacing">Spacing</a></li>
      <li><a href="/spacing">Textures</a></li>
      </ul>

    <li>Materials</li>
      <ul>
        <li><a href="#">Palette</a></li>
        <li><a href="#">Textiles</a></li>
        <li><a href="#">Finishing</a></li>
      </ul>
    <li>Components</li>
    <ul>
      <li><a href="/button">Button</a></li>
      <li><a href="/label">Label</a></li>
    </ul>
    <li>Assets</li>
    <ul>
      <li><a href="/photography">Wordmarks</a></li>
      <li><a href="/photography">Photography</a></li>
      <li><a href="/biography">Biographies</a></li>
    </ul>
  </ul>
</nav>

<style>
    nav {
    background: white;
    margin: 0;
    padding: 2em;
    width: 20em;
    height: 95vh;
  }

  nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav > ul {
    margin: 0;
    padding: 0;
    position: fixed;
  }

  nav ul > ul {
    padding-left: var(--space-s);
  }
</style>
