---
const { headings } = Astro.props;
---

<nav>
  <ul>
    {headings.map((heading) => (
      <li style={`margin-left: ${(heading.depth - 1) * 1.5}rem;`}>
        <a href={`#${heading.slug}`}>
          {heading.text}
        </a>
      </li>
    ))}
  </ul>
</nav>

<style>
    nav {
    background: white;
    margin: 0;
    padding: 2em;
    width: 20em;
    height: 95vh;
  }

  nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav > ul {
    margin: 0;
    padding: 0;
    position: fixed;
  }

  nav ul > ul {
    padding-left: var(--space-s);
  }
</style>
