<nav>
  <ul>
    <li><a href="">C</a></li>
    <li><a href="">F</a></li>
    <li><a href="">T</a></li>
    <li><a href="">Z</a></li>
    <li><a href="">Y</a></li>
    <li><a href="">X</a></li>
  </ul>
</nav>

<style>
  nav {
    background: var(--color-primary);
    grid-column: 1 / 2;
    height: min-content;
    border-radius: var(--space-m);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    background: var(--color-primary);
    margin: var(--space-m) 0;
    color: var(--color-secondary);
    border: var(--border-m);
    padding: var(--space-s) var(--space-m);
    border-radius: var(--radius-m);
    font-family: 'Brutalita';
  }
</style>
