---
interface Props {
  title: string;
}

const { title } = Astro.props;
const { frontmatter } = Astro.props;
// const { headings } = Astro.props;

const url = new URL(Astro.request.url);
const pathname = url.pathname; // Extracts the pathname from the URL
let basetitle;

if (pathname === "/") {
  basetitle = "vriOS [System]";
} else {
  basetitle = `${title || frontmatter.title} | vriOS [System]`;
}

import Nav from "../components/nav.astro";
import Breadcrumb from "../components/breadcrumb.astro";
import Sidebar from "../components/sidebar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <title>
      {basetitle}
    </title>
  </head>
  <body>
    <Breadcrumb />
    <Sidebar />
    <main>
      <slot />
    </main>
    <!-- <Nav headings={headings} /> -->
  </body>
</html>
<style is:global>
  body {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    background: var(--color-tertairy);
    background-image: radial-gradient(#efefef 1px, #fff 0.1px);
    background-size: 12px 12px;
    padding: 0;
    font-family: sans-serif;
    display: grid;
    gap: var(--space-l);
    margin: var(--space-l);
    grid-template-columns: repeat(16, 1fr); /* Example: 3 equal columns */
    width: 100%; /* Ensures grid container fits within the viewport */
    width: calc(
      100% - 2 * var(--space-l)
    ); /* Adjust width to account for margin */
  }

  main {
    background: #fafafa;
    border-radius: var(--radius-l);
    grid-column: 2 / 14;
    overflow-y: scroll;
    height: 90vh;
  }

  section {
    padding: var(--space-l);
  }
</style>
